<div class="card-body">
    <%= form_for @conversation, html: { class: 'form-horizontal' } do |f| %>
      <div class="form-group row">
        <%= f.label :title, class: 'col-md-3 col-form-label' %>
        <div class="col-md-9">
          <%= f.text_field :title, class: 'form-control' %>
        </div>
      </div>

        <div class="form-group row my-3">
            <%= f.label "Conversation topic", class: 'col-md-3 col-form-label' %>
            <div class="col-md-9">
            <%= f.text_area :topic, class: 'form-control' %>
        </div>

      <div class="form-group row my-3">
        <%= f.label :agents, "Select Agents (1-4)", class: 'col-md-3 col-form-label' %>
        <div class="col-md-9">
          <% @agents.each do |agent| %>
            <div class="form-check">
              <%= check_box_tag 'conversation[agent_ids][]', agent.id, @conversation.agents.include?(agent), id: "agent_#{agent.id}", class: 'form-check-input' %>
              <%= label_tag "agent_#{agent.id}", agent.name, class: 'form-check-label' %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-9 offset-md-3">
          <%= f.submit "Create Conversation", class: 'btn btn-success' %>
        </div>
      </div>
    <% end %>
  </div>