<div class="container mt-4">
    <h1 class="display-4"><%= @conversation.title %></h1>
    <p class="lead">A conversation between <%= @agents.count %> agents.</p>
    
    <div class="card my-4">
      <div class="card-header">
        Agents Involved
      </div>
      <ul class="list-group list-group-flush">
        <% @agents.each do |agent| %>
          <li class="list-group-item"><%= agent.name %></li>
        <% end %>
      </ul>
    </div>

    <div class="card my-4">
      <div class="card-header">
        Conversation Topic
      </div>
      <div class="card-body">
        <p class="card-text"><%= @conversation.topic %></p>
      </div>
    </div>
  
    <div class="card my-4">
      <div class="card-header">
        Conversation Controls
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-3">
          <%= turbo_frame_tag "increment_button" do %>
            <%= link_to 'Increment Conversation', increment_conversation_path(@conversation), class: 'btn btn-primary', data: { turbo_method: :post, turbo_frame: "increment_button" } %>
          <% end %>
          <%= turbo_frame_tag "simulation_button" do %>
            <%= form_with(url: start_simulation_conversation_path(@conversation), local: true) do |form| %>
              <%= form.number_field :steps, placeholder: "Number of increments" %>
              <%= form.submit "Start Simulation" %>
            <% end %>
          <% end %>
          </div>
          <div class="col-3">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Settings
              </button>
              <ul class="dropdown-menu">
                <li><%= link_to 'Edit Conversation', edit_conversation_path(@conversation), class: 'dropdown-item' %></li>
                <li><%= link_to 'Reset Conversation', reset_conversation_path(@conversation), class: 'dropdown-item' %></li>
                <li><%= button_to 'Delete Conversation', conversation_path(@conversation), method: :delete, class: 'dropdown-item' %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="messages">
      <% if @conversation.messages.any? %>
        <% @conversation.messages.each do |message| %>
              <%= render 'message', message: message, animate: false %>
        <% end %>
      <% end %>
    </div>
  </div>