<h1>Create an agent</h1>

<div class="container mt-4">
    <%= form_with model: @agent, local: true, html: { class: 'needs-validation' } do |form| %>
        <h3>Agent 1</h3>
        <div class="mb-3">
            <%= form.label :name, class: 'form-label' %>
            <%= form.text_field :name, class: 'form-control', required: true %>
        </div>
        <div class="mb-3">
            <%= form.label :system_prompt, class: 'form-label' %>
            <%= form.text_area :system_prompt, class: 'form-control', required: true %>
        </div>
        <div class="mb-3">
            <%= form.label :temperature, class: 'form-label' %>
            <%= form.number_field :temperature, step: '0.1', min: "0", max: "1",  class: 'form-control', required: true %>
        </div>
        <div class="mb-3">
            <%= form.label :top_p, class: 'form-label' %>
            <%= form.number_field :top_p, step: '0.1', min: "0", max: "1", class: 'form-control', required: true %>
        </div>
        <div class="mb-3">
            <%= form.label :model, class: 'form-label' %>
            <%= form.select :model, Agent::MODELS, class: 'form-control', required: true %>
        </div>
        <div>
            <%= form.submit 'Create Agent', class: 'btn btn-primary' %>
        </div>
    <% end %>
</div>